body {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

paper-toolbar {
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 1.5em;
}

  paper-material {
    border-radius: 2px;
    height: 100%;
    padding: 16px 0 16px 0;
    width: calc(98.66% - 16px);
    margin: 16px auto;
    background: white;
  }
#mainToolbar .middle {
    margin-left: 48px;
  }

#mainToolbar.has-shadow .middle {
    font-size: 20px;
    padding-bottom: 0;
    margin-left: 48px;
  }
  
