<div layout="row" class="home">
    <div class="content-wraper">
        <h2>{{'home.wellcome' | translate}} {{auth.profile.nickname}}</h2>
        <br/>
        <br/>
        <post-list></post-list>
    </div>

    <div class="sidebar">
        <md-button  ng-click="callApi()" class="md-raised">{{'home.makeAuthCall' | translate}}</md-button>
        <md-button  ng-click="redirectPosts()" class="md-raised md-primary">{{'home.viewPosts' | translate}}</md-button>
        <md-button  ng-click="logout()" class="md-raised">Logout</md-button>
    </div>
